$Dark-Blue: hsl(209, 23%, 22%);
$DarkBackground: hsl(207, 26%, 17%);
$LightText: hsl(200, 15%, 8%);
$LightInput: hsl(0, 0%, 52%);
$LightBackground: hsl(0, 0%, 98%);
$DarkText-LightElements: hsl(0, 0%, 100%);
$desktopPadding: 1% 5%;

* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: $LightBackground;
}

a {
  color: $LightText;
  text-decoration: none;
}

button {
  cursor: pointer;
}

strong {
  font-weight: 600;
  font-size: 1.1rem;
}

.loading {
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  height: 80vh;
}

.back {
  background-color: #fff;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.43);
}

.header {
  background-color: #fff;
  padding: $desktopPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);

  h1 {
    font-size: 1.6rem;
    font-weight: 800;
  }

  .moon {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $Dark-Blue;
  }
}

.home-page {
  padding: $desktopPadding;
  padding-top: 3rem;

  .home-page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
      input {
        padding: 15px 35px;
        width: 400px;
        box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
          rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
      }
    }
  }

  .countries {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  .content {
    background-color: white;
    border-radius: 15px;
    box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);
    height: 330px;

    img {
      max-width: 100%;
      width: 100%;
      height: 150px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .country-content {
      padding: 1rem;

      .add-content {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        line-height: 1.5;
      }
    }
  }
}

.detailsPage {
  height: 100vh;

  .detail {
    margin: 5%;

    .details-content {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      img {
        width: 500px;
        height: 300px;
      }

      .description {
        color: $LightText;

        h1 {
          font-size: 1.7rem;
          font-weight: 800;
        }

        .main-description {
          margin-top: 2rem;
          line-height: 1.5;
          display: flex;
          align-items: flex-start;
          gap: 2rem;
          flex-wrap: wrap;

          p {
            display: flex;
            align-items: center;

            :nth-child(2) {
              padding-left: 5px;
              font-weight: 300;
              font-size: 1rem;
            }
          }
        }
      }
      .borders {
        margin-top: 2rem;
        display: flex;
        align-items: center;

        .border {
          margin-left: 5px;
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
          padding: 5px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.dropdown {
  font-weight: 600;
  position: relative;
  user-select: none;

  .dropdown-head {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
      rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;

    :nth-child(2) {
      width: 150%;
      height: 150%;
    }
  }

  .dropdown-body {
    position: absolute;
    top: 3rem;
    padding: 0.5rem;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);

    .item {
      margin: 7px 0;
      padding-left: 10px;
      cursor: pointer;

      &:hover {
        color: $LightInput;
      }
    }
  }
}

.regions {
  .region-heading {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .region-countries {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 5%;

    .content {
      background-color: white;
      border-radius: 15px;
      box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);
      height: 330px;

      img {
        max-width: 100%;
        width: 100%;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .country-content {
        padding: 1rem;

        .add-content {
          padding-top: 0.5rem;
          padding-bottom: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}
